/*Varaible styling*/
:root {
    --lightgreen: #80E584;
    --lightblue: #36A8CC;
    --lightpurple: #F9B1FF;
    --purple: #BB77EB;
    --pink: #F582FF;
    --blue: #1B31FF;
    --red: #FB0E0E;
    --black: #000000;
    --arch: #D9D9D9;
    --grey: #F8F8F8;
    --thingreen: #BBEA97;
    --white: #FFFFFF;
    --darkblue: #057398;
    --belge: #FCEFEF;
    --white: #fff;
    --darkgry: #474646;
}

/*General styling*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

header {
    padding: 50px;
    position: fixed;
    width: 100%;
    border: 1px solid var(--darkgry);
    background-color: var(--darkgry);
}



main {
    padding: 140px 20px 20px 20px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 3em;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.irrelevant {
    visibility: hidden;
}

/*Nav styling*/

#logo {
    display: flex;
    flex-direction: column;
    left: 10px;
    width: 242px;
    height: 58px;
    padding-left: 0px;
    font-size: 24px;
    font-weight: bold;
}

#logo {
    color: var(--white);
}

#sidebar-menu {
    position: absolute;
    top: 40px;
    right: 10px;
    text-align: right;
    color: var(--white);
    
}

.main-nav,
#hamburger-input {
    display: none;
}

#hamburger-input:checked+.main-nav {
    display: block;
    text-align: left;
    
}

.main-nav {
    background-color: var(--thingreen);
    padding: 10px;
}

nav li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    list-style-type: none;
    font-weight: bold;
}

nav li a {
    color: var(--black);
}

nav .active {
    color: var(--white);
}

nav a {
    color: var(--black);
    text-decoration: none;
}

nav a:hover {
    border-bottom: 6px solid var(--red);
}

/*Home page styling*/
#subject {
    display: flex;
    justify-content: center;
}

.captext-container{
    padding: 10px;
    background-color: var(--belge);
}

.caption-container{
    margin-top: 40px;
}
.capimg img{
    width: 400px;
    height: 450px;
}
.capimg img{
    max-width: 100%;
}


h3 {
    font-size: 18px;
    color: var(--black);
}

.carousel-item a {
    text-decoration: none;
}

.Posts {
    max-width: 300px;
}

.Posts img {
    height: 150px;
}

.carousel-title-wrap {
    margin: 20px 35px;
}

.carousel img {
    height: 100px;
}

  /*@keyframes fadeVisibility {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: opacity linear;
    }
  }*/



/*Blog page styling*/

.blog-container .first-ten-blogs{
    grid-template-columns: 1fr;
}

.blog-container{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 25px 20px;
    
}



.blog-container .first-ten-blogs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 30px;
    list-style: none;
    
}

.blog-container .first-ten-blogs .box .featuredimage{
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    height: 250px;
    border-radius: 5px;
}

.blog-container .first-ten-blogs .box{
    background-color: var(--belge);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px var(--arch);    
}

.blog-container .first-ten-blogs .box .featuredimage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.blog-container .first-ten-blogs .box p{
    font-size: 14px;
    line-height: 1.5;
    padding: 15px 0px;
}
.blog-container .first-ten-blogs .box .btn{
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid var(--black);
    color: var(--black);
    font-size: 16px;
    border-radius: 10px;
    
}
.blog-container .first-ten-blogs .box .btn:hover{
    background-color: var(--darkblue);
    cursor: pointer;
    
}

#loadmorebtn{
    margin-top: 20px;
    display: inline-block;
    padding: 13px 30px;
    border: 1px solid var(--black);
    font-size: 16px;
    font-weight: bold;
    background-color: var(--grey);
    cursor: pointer;
    border-radius: 10px;
}
#loadmorebtn:hover{
    background-color: var(--darkblue);
}

.featuredimage{
    width: 300px;
    height: 250px;
}

.top-btn {
    display: flex;
    justify-content: flex-end;
    margin: 20PX;
}

.top-btn a {
    text-decoration: none;
    color: var(--black);
}


/*Blog details page styling*/

.blog-details{
    margin-top: 180px;
}

.blog-details img {
    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.blog-details p{
    margin-top: 10px;

}

/*About page styling*/

.about-container p{
    line-height: 1.5;
}



/*contact page styling*/

.contact-box img, .about-container img {
    width: 300px;
    height: 350px;
    margin-top: 20px;
}
.contact-box p{
    margin-top: 10px;
    margin-bottom: 40px;
}
#contact-form, .blog-details {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 10px;
}
#contact-form, .blog-details{
    background-color: var(--white);
	border-radius: 5px;
	box-shadow: 0 2px 5px var(--black);
	overflow: hidden;
	width: 500px;
	max-width: 100%;
    padding: 30px 40px;
}
.form-box, .blog-details{
    margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-box label{
    display: inline-block;
	margin-bottom: 5px;
    font-weight: bold;
}

.form-box input{
    border: 2px solid var(--arch);
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-box.success input {
	border-color: var(--lightgreen);
}

.form-box.error input {
	border-color: var(--red);
}

.form-box i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-box.success i.fa-circle-check {
	color: var(--lightgreen);
	visibility: visible;
}

.form-box.error i.fa-circle-exclamation {
	color: var(--red);
	visibility: visible;
}

.form-box small {
	color: var(--red);
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-box.error small {
	visibility: visible;
}
.irrelevant{
    visibility: hidden;
}

textarea {
    display: block;
    width: 250px;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--arch);
    border-radius: 10px;
    font-size: 16px;
    resize: none;

}

input[type=text]{
    width: 250px;
    padding: 10px 10px;
    margin: 6px 0;
    border-radius: 10px;
    border: 2px solid var(--arch);
    box-sizing: border-box;
}



input[type=submit] {
    width: 139px;
    border: none;
    background-color: var(--lightgreen);
    font-size: 15px;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 20px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: var(--darkblue);
}






/*styling the loader spin*/

.loader{
    position: fixed;
    top: 200px;
    left: 0;
    width: 90vw;
    height: 90vw;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    background-color: var(--arch);
    transition: opacity 0.95s, visibility 0.95s;
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid var(--purple);
    border-top-color: var(--red);
    border-radius: 50%;
    animation: loading 0.95s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(2turn);
    }
}


/*footer styling*/
.footer-flexbox {
    display: flex;
    justify-content: space-around;
}
.footer-flexbox a{
    color: var(--white);
}

footer {
    margin-top: auto;
    background-color: var(--darkgry);
    line-height: 1.5;
    padding-top: 12px;
}


.footer-head {
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
}

#copyright{
    display: flex;
    justify-items: center;
    color: var(--whites);
}

/*@media (max-width: 1000px) {
    h3 {
      text-align: center;
      color: #000;
      text-decoration: none;
    }
  
    .Posts {
      max-width: 450px;
    }
  
    .Posts img {
      height: 200px;
    }
  
    .carousel-title-wrap {
      margin: 20px 20px;
    }

    /*.carousel-item {
      display: flex;
      gap: 15px;
      position: absolute;
      left: 32px;
    }*/
  
    /*.carousel {
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 0 10px 0 10px;
    }
  
    /*.carousel-item a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }*/
  
    /*.carousel img {
      height: 100px;
    }
  }*/

@media(min-width:900px) {
    #logo {
        width: 242px;
        height: 58px;
        left: 53px;
        top: 70px;
        font-size: 24px;
        font-weight: bold;
    }

    #logo {
        color: var(--white);
    }

    #logo {
        width: 15%;
    }

    header {
        display: flex;
        background-color: var(--darkgry);
    }


    #sidebar-menu {
        position: relative;
        width: 85%;
        top: 0;
    }

    nav li a {
        color: var(--white);
    }

    

    .active {
        color: var(--blue);
    }

    .main-nav {
        display: flex;
        height: 100%;
        justify-content: flex-end;
        gap: 2em;
        align-items: center;
        width: 100%;
        background-color: transparent;
        list-style: none;
    }

    #hamburger-menu {
        display: none;
    }

   

    .contact-box, .about-container, .caption-container{
        display: grid;
        grid-template-columns: auto auto;
    }
    .caption-container{
        display: grid;
        gap: 20;
    }

    .capimg img{
        width: 800px;
        height: 303px;
    }

    .captext-container{
        padding: 10px;
        background-color: var(--belge);
    }

    .contact-box img{
        width: 450px;
        height: 350px;
    }

    .contact-box p{
        margin-top: 10px;
        margin-bottom: 40px;
    }
    
    .about-container img {
        width: 650px;
        height: 450px;
    }

    .about-container p{
        margin-top: 20px;
    }

    .blog-container{
        max-width: 1300px;
        margin: 0 auto;
        text-align: center;
        padding: 25px 20px;
    }
    .blog-container .first-ten-blogs{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 30px;
        list-style: none;
        
    }

    .blog-container .first-ten-blogs .box .featuredimage{
        margin-bottom: 20px;
        overflow: hidden;
        /*height: 250px;*/
        border-radius: 5px;
    }

    .blog-container .first-ten-blogs .box{
        background-color: var(--belge);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 5px 10px var(--arch);    
    }

    .blog-container .first-ten-blogs .box:nth-child(0),
    .blog-container .first-ten-blogs .box:nth-child(1),
    .blog-container .first-ten-blogs .box:nth-child(2){
        display: inline-block;
    }


    .blog-container .first-ten-blogs .box .featuredimage img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }


    .blog-container .first-ten-blogs .box p{
        font-size: 16px;
        line-height: 1.5;
        padding: 15px 0;
    }
    .blog-container .first-ten-blogs .box .btn{
        display: inline-block;
        padding: 10px 30px;
        border: 1px solid var(--black);
        color: var(--black);
        font-size: 16px;
        border-radius: 10px;
        
    }
    .blog-container .first-ten-blogs .box .btn:hover{
        background-color: var(--darkblue);
        cursor: pointer;
        
    }

    #loadmorebtn{
        margin-top: 20px;
        display: inline-block;
        padding: 13px 30px;
        border: 1px solid var(--black);
        font-size: 16px;
        font-weight: bold;
        background-color: var(--grey);
        cursor: pointer;
        border-radius: 10px;
    }
    #loadmorebtn:hover{
        background-color: var(--darkblue);
    }

    .blog-details{
        background-color: var(--white);
        border-radius: 5px;
        box-shadow: 0 2px 5px var(--black);
        overflow: hidden;
        width: 1200px;
        max-width: 100%;
        padding: 30px 40px;
        justify-content: center;
        align-items: center;
    }

    .blog-details {
        margin-top: 180px;
    }

    .blog-details p{
        line-height: 1.5;
    
    }

    .blog-details img{
        width: 1000px;
        height: 500px;
        border-radius: 20px;
        margin-top: 10px;
    }

}